/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	font-weight: normal;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*End of html5 reset*/
body{
	background: #f5f6f7;
	text-align: center;
	margin: 0 auto 80px auto;
	height: 100%;
	width: 100%;
	font-family: Geneva, Helvetica, Sans-serif;
	line-height: 1.5em;
}
p{
	margin: 0 0 20px 0;
}
time{
	display: block;
}
a{
	text-decoration: underline;
	color: #5C9AED;
}
h1{
	font-family: Georgia, Serif;
}
h2, h3, h4, h5, h6{
	font-family: Geneva, Helvetica, Sans-serif;
}
h1{
	font-size: 37px;
}
h2{
	color: #000;
	font-size: 21px;
}
h2 a{
	color: #000;
}
fieldset p{
	position: relative;
	line-height: 100%;
}
fieldset p label{
	display: block;
	position: absolute;
	top: 2px;
	left: 17px;
	z-index: 1;
	color: #333;
}
input{
	padding: 3px;
	margin: 0;
	font-size: 21px;
	font-weight: bold;
}

.banner{
	padding-top: 20px;
	text-align: left;
	margin-bottom: 40px;
}
.banner h1 a{
	text-decoration: none;
}
time{
	color: #000;
	text-transform: uppercase;
	font-family: "Arial Black", Arial;
}
.banner time{
	position: absolute;
	top:20px;
	right: 20px;
	z-index: -1;
	font-size: 67px;
}
.banner time .month{
	color: #e2e2e2;
}
.view, footer.main{
	width: 58.875em;
}
.view{
	text-align: left;
	margin: 0 auto;
	position: relative;
}

.list .hentry {
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #333;
}
.list .hentry time{
	position: absolute;
	top: 20px;
	left: 10px;
	text-align: center;
	font-size: 11px;
	line-height: 13px;
	color: #666666;
}
.list .hentry time span{
	display: block;
}
.hentry header, .photo h2, .video h2{
	margin-bottom: 15px;
}
.list .video header, .list .photo header{
	position: absolute;
	left: 375px;
}
.list .video object{
	width: 300px;
	height: 169px;
}
.list .photo .entry-content img{
	vertical-align: top;
	width: 300px;
}
footer.main{
	background: #5C9AED;
	height: 60px;
	color: #fff;
	position: fixed;
	bottom: 0;
	text-align: center;
}
footer.main a{
	color: #fff;
}
button.close{
	border: solid 1px #fff;
	background: transparent;
	color: #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
/* new post on the index page */
.new fieldset.type ul li{
	float: left;
	display: block;
	margin-right: 20px;
}
.new{
	width: 100%;
}
.new input[type="text"], .new textarea{
	width: 700px;
}
.new fieldset.content textarea{
	height: 100px;
}
.new fieldset.options textarea{
	height: 50px;
}
.new fieldset.options p input[type="checkbox"]{
	float: left;
	margin-top: 5px;
}
/* film strip*/
.film_strip ul li{
	float: left;
	display: block;
	margin-right: 5px;
	width: 75px;
	height: 90px;
	position: relative;
}
.film_strip img{
	width: 100%;
}
.film_strip li form{
	position: absolute;
	bottom: 0;
}
.addressbook .left{
	float: left;
	width: 25%;
}
.addressbook .right{
	float: left;
	width: 25%;
}
.addressbook .detail{
	width: 50%;
	float: left;
}
.addressbook ul{
	margin: 0;
	padding: 0;
	width: 100%;
}
.addressbook li{
	list-style: none;
	text-align: left;
}
.modal{
	padding: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: solid 1px #fff;
	background: rgba(0,0,0,.7);
}
.modal h1{
	font-size: 1.3em;
}
.modal .close{
	position: absolute;
	top: -7px;
	left: -7px;
	background: #000;
	font-size: .7em;
	width: 20px;
	height: 20px;
	line-height: 1em;
}
.addressbook ul li{
	position: relative;
}
.addressbook ul li form.delete{
	position: absolute;
	top: 2px;
	right: 7px;
}
#addressbook_modal form.delete{
	display: none;
}
#addressbook_modal .addressbook .left{
	width: 50%;
}

#addressbook_modal .addressbook .right{
	width: 50%;
}
#addressbook_modal .addressbook .detail{
	display: none;
}

#addressbook_modal .addressbook .footer{
	display: none;
}
#addressbook_modal .instructions{
	display: none;
}
