#content{
	float: none;
	width: 100%;
}
#body{
	width: 100%;
	min-height: 300px;
}
form fieldset p{
	position: relative;
}
form fieldset p label{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	margin: 10px 0 0 5px;
}
form fieldset legend{
	display: none;
}
form fieldset.type{
	margin: 0 auto;
	display: block;
}
form fieldset.type ul{
	position: relative;
	margin: 0 auto;
	height: 20px;
	width: 660px;
}
form fieldset.type ul li{
	width: 92px;
	height: 20px;
	border-left: solid 1px rgb(200,200,200);
	border-top: solid 1px rgb(200,200,200);
	display: block;
	text-align: center;
	float: left;
	position: relative;	
}
form fieldset.type ul li:first-child{
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
}
form fieldset.type ul li:last-child{
	border-right: solid 1px rgb(200,200,200);
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
}
form fieldset.type ul li label{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
}
form fieldset.type ul li input{
	width: 100%;
	height: 100%;
}

form fieldset.content{
	
}
form fieldset.options{
	position: absolute;
	right: 0;
	top: 0;
	width:  200px;
}
form fieldset.options p label{
	position: relative;
}
form fieldset.options textarea{
	width: 100%;
}
form nav{
	clear: left;
}

#send_to_list ul{
	position: absolute;
	top: 0;
	left: 70px;
}
#send_to_list ul li{
	float: left;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgba(255,255,255,.5);
	padding: 0 7px 0 7px;
}
#photo_viewer dl{
	width: 100%;
	text-align: center;
}
#photo_viewer dl img{
	width: 95px;
	border: none;
}
#photo_viewer dl dd{
	border: solid 1px rgb(255,255,255);
	padding: 20px;
	width: 95px;
	height: 135px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
#author{
	display: none;
}