/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	line-height: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
	line-height: 1.5;
	text-align: center;
	height: 100%;
	width: 100%;
}

header, footer, aside, nav, article, section, figure, time{
	display: block;
}
h1, h2, h3, h4, h5, h6{
	font-variant: small-caps;
	margin: 0 0 10px 0;
}
h1{
	font-size: 27px;
}
h2{
	font-size: 23px;
	line-height: .9em;
}
h3{font-size: 17px;}
h4{font-size: 15px;}
h5{font-size: 13px;}
h6{font-size: 100%;}

a{outline: 0;}
a img{border: 0; text-decoration: none;}
a:link, a:visited{
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: underline;
}

blockquote{font-style: italic;}

a{
	color: rgb(30, 100, 200);
	text-decoration: underline;
}
footer nav{
	background: rgb(156,156,156);
	color: rgb(36,36,36);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top: solid 1px rgb(104,104,104);
	border-left: solid 1px rgb(104,104,104);
	border-right: solid 1px rgb(104,104,104);
	position: fixed;
	bottom: 0;
	width: 420px;
	left: 50%;
	margin-left: -210px;
}
footer nav a{
	height: 100%;
	color: rgb(36,36,36);
	font-size: 13px;
	width: 100px;
	display: inline-block;
	border-left: solid 1px rgb(104,104,104);
	text-align: center;
}
footer nav a:first-child{
	border-left: none;
}
footer nav a:hover{
	color: rgb(255,255,255);
	text-decoration: none;
}
#menu{
	width: 100%;
	margin: 0 auto;
}

form fieldset{
	position: relative;
}
form fieldset p input[type="text"]
, form fieldset p input[type="password"]{
	width: 200px;
	font-size: 13px;
	padding-left: 10px;
}
form fieldset label{
	position: absolute;
	top: 3px;
	left: 10px;
	color: rgb(200,200,200);
}
time{
	color: rgb(200,200,200);
}
body{
	background: #f5f6f7;
}
#footer{
	clear: both;
}
.view{
	text-align: left;
}
form.comment legend{
	display: none;
}
form.comment textarea{
	width: 100%;
}
#status_form fieldset legend{
	display: none;
}
#status_form p
, #status_form time{
	font-size: 11px;
}
#status_form textarea{
	width: 370px;
	display: block;
}

#status_form button{
	position: absolute;
	bottom: -30px;
	left: 305px;
}
span.count{
	font-size: 9px;
	display: block;
	background: rgb(100,100,100);
	color: rgb(255,255,255);
	padding: 2px 10px 2px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: 1px;
	text-align: center;
}
.view .menu{
	float: left;
	width: 170px;
}
.view footer{
	clear: both;
}
.view .info-stream{
	margin-left: 170px;
}
#content .album .content .entry-content img
, #content .photo .content .entry-content img{
	width: 400px;
}
#login_form{
	background: rgba(0,0,0,.1);
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: absolute;
	width: 300px;
	height: 90px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -45px;
	z-index: 1000;
}
.hentry{
	width: 100%;
	border-bottom: solid 1px rgb(200,200,200);
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.hentry .content{
	float: left;
	width: 50%;
	position: relative;
}
.hentry .content header
, .hentry .content .entry-content
, .hentry .post-info
, #status_form{
	margin-left: 60px;
}
.hentry .reaction{
	width: 45%;
	margin-left: 55%;
	position: relative;
}
.hentry .content header aside img{
	width: 52px;
	position: absolute;
	top: 3px;
	left: 3px;
}
.hentry .reaction form input[type="text"]{
	width: 400px;
}
.hentry .reaction form fieldset button{
	display: none;
}
.status-entry .content
, .status-entry .reaction{
	border: none;
}
#pager{
	clear: both;
}

.hentry .info{
	position: absolute;
	top: 0;
	right: 0;
}
.hint{
	font-style: italic;
}
.hentry header aside[rel="author"] time
, .hentry header a.info
, .hentry .post-info
, .hint
, .status-entry{
	font-size: 11px;
}

.hentry .author{
	position: relative;
	padding-left: 25px;
}
.hentry .author img.small{
	width: 20px;
	position: absolute;
	left: 0;
	top: 0;
}
.noposts{
	position: absolute;
	top: 50%;
	left: 45%;
	width: 100px;
	height: 60px;
	margin-left: -50px;
	border-bottom: none;
}
.noposts p
, .hint{
	color: rgb(200,200, 200);
}
.noposts p{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	position: absolute;
	width: 200px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -30px;
}
form fieldset.type ul li{
	position: relative;
}
#send_to_list{
	clear: both;
}
form p{
	position: relative;
}

.film_strip{
	box-shadow: 0px 3px 7px rgb(50,50,50);
	-webkit-box-shadow: 0px 3px 7px rgb(50,50,50);
	-moz-box-shadow: 0px 3px 7px rgb(50,50,50);
	overflow: hidden;
	position: fixed;
	top: 25px;
	left: 0;
	right: 0;
}
.film_strip .scrollable{
	overflow-x: scroll;
	overflow-y: hidden;
	height: 130px;
	width: 100%;
}
.film_strip ul{
	margin: 0;
	padding: 0;
	height: 130px;
}
.film_strip ul li{
	float: left;
	margin: 0 20px 0 0;
	display: block;
	padding: 0;
}
.film_strip ul li img{
	height: 72px;
	border: solid 3px transparent;
}
.film_strip ul li img.selected{
	border-color: rgb(130,200,255);
}
.film_strip form{
	height:; 30px;
	padding: 0;
	margin: 0;
}
.film_strip form fieldset legend{
	display: none;
}
.film_strip li.profile{
}
.modal form{
	background: rgb(0,0,0);
}
.modal #post_type li{
	float: left;
}
button.close{
	border: none;
	color: rgb(255,255,255);
	background: rgb(0,0,0);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	position: relative;
	position: absolute;
	left: 3px;
	top: 3px;
	opacity: .8;
	filter: alpha(opacity=80);
}
button.close span{
	position: absolute;
	top: -2px;
	left: .9px;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 100%;
	font-family: Arial;
}
#__6d_console {
	bottom: 0;
	left: 0;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	-moz-border-top-radius: 5px;
	text-align: left;
}

.conversation li{
}
